{{ define "content" }}
{{ partial "nav.html" . }}

<section class="min-h-screen flex flex-col pt-20 pb-16">
  <div class="max-w-[700px] mx-auto px-8 w-full">
    <h1 class="font-mono text-3xl font-bold mb-2">{{ .Title }}</h1>
    <p class="text-fg-muted text-sm mb-10">{{ T "changelog_subtitle" }}</p>

    <div class="changelog-timeline border-l-2 border-fg-faint pl-6
      [&>h2]:relative [&>h2]:-ml-6 [&>h2]:pl-6 [&>h2]:pt-0 [&>h2]:pb-4
      [&>h2]:font-mono [&>h2]:text-xl [&>h2]:font-bold
      [&>h2>a]:text-fg [&>h2>a]:no-underline [&>h2>a]:hover:text-wine-light [&>h2>a]:transition-colors
      [&>h2]:before:content-[''] [&>h2]:before:absolute [&>h2]:before:-left-[7px] [&>h2]:before:top-0.5
      [&>h2]:before:w-3 [&>h2]:before:h-3 [&>h2]:before:rounded-full [&>h2]:before:border-2
      [&>h2]:before:border-fg-faint [&>h2]:before:bg-bg
      [&>h2:first-of-type]:before:border-wine [&>h2:first-of-type]:before:bg-wine/20
      [&>h3]:font-mono [&>h3]:text-xs [&>h3]:font-semibold [&>h3]:uppercase [&>h3]:tracking-wider [&>h3]:text-fg-muted [&>h3]:mt-4 [&>h3]:mb-2
      [&>ul]:mb-3 [&>ul]:pl-4 [&>ul]:list-none
      [&>ul>li]:relative [&>ul>li]:pl-4 [&>ul>li]:mb-1.5 [&>ul>li]:text-sm [&>ul>li]:text-fg-muted [&>ul>li]:leading-relaxed
      [&>ul>li]:before:content-['›'] [&>ul>li]:before:absolute [&>ul>li]:before:left-0 [&>ul>li]:before:text-wine-light [&>ul>li]:before:font-mono
      [&>ul>li_a]:text-wine-light [&>ul>li_a]:no-underline [&>ul>li_a]:hover:underline
      [&>ul>li_strong]:text-fg [&>ul>li_strong]:font-medium
      [&>ul>li_code]:font-mono [&>ul>li_code]:text-xs [&>ul>li_code]:text-fg-dim [&>ul>li_code]:bg-bg-surface [&>ul>li_code]:px-1 [&>ul>li_code]:py-0.5 [&>ul>li_code]:rounded">
      {{ .Content }}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
{{ end }}
